<div class="booking-banner" style="background-image: url(<%= image_path "desk.jpg" %>)">
  <div class="container py-4">
    <h4>Reservation</h4>
  </div>
</div>
<div class="container pt-3">
  <div class="user-section">
    <p class="header">Your meeting room</p>
    <p class="content"><%= @booking_room.room.area.name %>, <%= @booking_room.room.name %></p>
    <span class="badge badge-primary"><%= @booking_room.room.capacity %> seats</span>
  </div>

  <div class="user-section">
    <p class="header"><%= @booking_room.starts_at.strftime("#{@booking_room.starts_at.day.ordinalize} of %B, %Y") %></p>
    <p class="content"><%= @booking_room.starts_at.strftime("%H:%M") %> - <%= @booking_room.ends_at.strftime("%H:%M") %></p>
  </div>

  <div class="user-section">
    <p class="header"><i class="fas fa-coins"></i> <%= @booking_room.price.to_i %></p>
    <p class="content">Your balance is now of <%= current_user.current_balance %> <i class="fas fa-coins"></i></p>
  </div>

  <%= link_to "Done", user_account_path(current_user), class: "btn btn-primary mb-5 w-100" %>
</div>
