<% my_profile = current_user == @user %>

<div class="user-banner">
  <div class="container">
    <div class="d-flex">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo, class: "user-img" %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "user-img" %>
      <% end %>
      <div class="user-info">
        <h3><%= @user.displayed_name %></h3>
        <p><%= @user.displayed_job %></p>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <% if @user.description.present? %>
    <div class="user-section">
      <p class="header">About me</p>
      <p class="content"><%= @user.description %></p>
    </div>
  <% end %>
  <div class="user-section">
    <p class="header">My desk today</p>
    <div class="d-flex justify-content-between align-items-center my-2">
      <p class="content">Creative Hub, Floor 1, Desk</p>
      <%= link_to "Get Directions", "#", class: "btn btn-primary btn-sm"  %>
    </div>

  </div>
  <% if @user.booking_rooms.any? %>
    <div class="user-section">
      <p class="header">Your booked rooms</p>
      <% @user.booking_rooms.each do |booking| %>
        <div class="d-flex justify-content-between align-items-center my-2">
          <p class="content"><strong><%= booking.room.name %></strong></p>
          <span><%= booking.starts_at.strftime("%b #{booking.starts_at.day.ordinalize} %H:%M") %> until <%= booking.starts_at.strftime("%H:%M") %></span>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="user-section">
    <p><i class="fas fa-calendar-week"></i> <%= link_to "Book a meeting room", "#" %></p>
    <p><i class="fas fa-coins"></i> <%= link_to "Earn more bucks", new_event_path %></p>
    <p class="m-0"><i class="fas fa-coins"></i> <%= link_to "Network at lunch?", lunches_path %></p>

  </div>
  </div>
</div>
