<div class="container">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for @booking_desk do |f| %>
        <fieldset class="form-group check_boxes required booking_desk_tags_tag">
          <input type="hidden" name="booking_desk_tags[tag][]" value="">
          <div class="booking-choices">
            <% Tag.all.each do |t| %>
              <input class="form-check-input check_boxes required d-none" type="checkbox" value="<%= t.id %> " name="booking_desk_tags[tag][]" id="booking_desk_tags_tag_<%= t.id %> ">
              <label class="collection_check_boxes booking-choice" for="booking_desk_tags_tag_<%= t.id %> "><%= t.name %></label>
              <!-- TODO Add the number of available desks in each -->
            <% end %>
          </div>
        </fieldset>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>


    </div>
  </div>
</div>

<%= javascript_pack_tag 'checkboxes' %>

