<div class="booking-banner" style="background-image: url(<%= image_path "desk.jpg" %>)">
  <div class="container py-4">
    <h4>Reservation</h4>
  </div>
</div>
<div class="container pt-3">
  <div class="user-section">
    <p class="header">Your desk</p>
    <div class="d-flex justify-content-between align-items-center my-2">
      <p class="content"><%= @booking_desk.desk.area.name %>, <%= @booking_desk.desk.name %></p>
      <%= link_to "Get Directions", "#", class: "btn btn-primary btn-sm"  %>
    </div>
    <% @booking_desk.desk.area.tags.each do |t| %>
      <span class="badge badge-primary"><%= t.description %></span>
    <% end %>
  </div>

  <div class="user-section">
    <p class="header"><%= @booking_desk.starts_at.strftime("#{@booking_desk.starts_at.day.ordinalize} of %B, %Y") %></p>
    <p class="content">09:00 - 19:00</p>
  </div>

  <div class="user-section">
    <p class="header"><i class="fas fa-coins"></i> <%= @booking_desk.price.to_i %></p>
    <p class="content">Your balance is now of <%= current_user.current_balance %> <i class="fas fa-coins"></i> (you will get an additional 100 <i class="fas fa-coins"></i> tomorrow)</p>
  </div>

  <div class="user-section">
    <p class="header">About the area</p>
    <p class="content">30 people work in the same industry</p>
    <p class="content">10 designers</p>
  </div>

  <%= link_to "Done", user_account_path(current_user), class: "btn btn-primary mb-5 w-100" %>
</div>

