<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Rooms</h1>
      <p>Please select a room to book</p>
    </div>
  </div>
  <% @areas.each do |area| %>
    <% if area.rooms.any? %>
      <div class="row">
        <div class="col-12">
            <hr>
            <h2><%= area.name %></h2>
            <div id="carousel<%= area.id %>" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% area.rooms.each_slice(4) do |slice| %>
                  <div class="carousel-item <%= 'active' if slice.first == area.rooms.first %>">
                    <div class="rooms-container">
                      <% slice.each do |room| %>
                        <%= render room %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <% if area.rooms.length > 4 %>
                <a class="carousel-control-prev" href="#carousel<%= area.id %>" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel<%= area.id %>" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              <% end %>
            </div>
            <hr>
          </div>
        </div>
    <% end %>
  <% end %>

</div>
