<div class="container py-4">
  <div class="row">
      <div class="col-12">
        <h2 class="lunch-title text-center">Want to grab lunch with someone new today!</h2>
          <div class="d-flex cards">
            <% @users.first(20).each do |user| %>
              <div class="lunch-card" id="<%= user.id %>">
                <% if user.photo %>
                  <%= image_tag user.photo, class: "avatar" %>
                <% else %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
                <% end %>
                <div class="user-infos">
                  <p><%= user.name %></p>
                  <span><strong><%= user.job %></strong>, sitting in the <strong><%= user.booking_desks.last.desk.area.name %></strong> area.</span>
                </div>
              </div>
            <% end %>
        <%= link_to "Request Lunch", lunches_path(receiver_id: ""), method: :post, class: "btn btn-primary", id: "request" %>
      </div>
  </div>
</div>

<%= javascript_pack_tag 'enable_cards' %>
